body{
	background:#999;
	font-size: 12px;
	font-family: '微软雅黑'!important;
}
*:focus {outline: none;} 
input{
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: transparent !important;
	background:none !important; 
}

input:-webkit-autofill { 
	
} 
.bodylogin{
	margin: 50px auto;
	background:url(../images/login_body.jpg) no-repeat center top;
	width: 700px;
	height: 501px;
	overflow: auto;
}


.logo{
	background:#fff;
	width:200px;
	height:50px;
	margin: 100px auto 122px;
}
.login{
	margin-left: 190px;
	overflow: hidden;
}
.clr{
	clear: both;
}
.login div{
	float: left;
}
.un{
	margin-left: 40px;
}
.pwd{
	margin-top: 22px;
}
.pw{
	margin-left: 50px;
}
.dl{
	margin-top: 24px;
	margin-left: 285px;
}
.dl input{
	cursor: pointer;
	width: 50px;
	text-align: left;
}